#command{
	width: 100%;
	margin: 0px;
	font-size: 1.3em;
	padding: 1%;
}

body{
	padding: 0px;
	margin: 0px;
	height: 200px;
	min-width: 400px;
}

html{
	height: 200px;
}

.suggestion {
	list-style-type: none;
	font-size: 1.3em;
	padding: 1%;
	border: 1px solid #EEEEEE;
}

#suggestions{
	overflow-y: scroll;
	height: 200px;
}

#highlighted {
	background-color: #EEEEEE;
}

input:focus {
	outline: 1px solid #EEEEEE;
}
