code, pre{
	font-size: 1.1em;
}

div#container{
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 2%;
	font-weight: 200;
}

h1, h2, h3{
	font-weight: 400;
}

.userCommand{
	padding: 1%;
	margin-top: 0px;
	margin-bottom: 2%;
	border: 1px solid #EEEEEE;
}
.userCommand pre{
	overflow: auto;
	tab-size: 2;
}

hr{
	border-color: #EEEEEE;
}

#addCommandCode{
	background-color: #21252b;
	color: #abb2bf;
	padding: 3px;
	overflow: auto;
	border: 1px solid black;
	height: 120px;
	tab-size: 2;
}
#enabledActions{
	column-count: 3;
}
